:root {
    --body-width: 600px;
}

html {
    font-size: 10px;
    font-family: "Jacquarda Bastarda 9", serif;
    background-color: #280d89;
}
h1 {
    font-size: 64px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #0231ee;
    text-shadow: 3px 3px 1px black;
}
p,
li {
    font-size: 20px;
    font-family: "Playfair", serif;
    font-weight: 500;
    letter-spacing: normal;
}
body {
    width: var(--body-width);
    height: 700px;
    margin: 0 auto;
    background-color: #cd9d01;
    padding: 0 20px 20px 20px;
    border: 6px solid black;
    border-radius: 25%;
}
.headshot {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center 45%;
    border-radius: 50%;
}
.contact-logo {
    display: flexbox;
    gap: 20px;
    width: calc(var(--body-width) * .1);
    height: calc(var(--body-width) * .1);
}